*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* pseudo elements */

:focus {
    outline: 0;
}

:link,
:visited {
    text-decoration: none;
}

/* globals */

html {
    line-sizing: normal;
}

body {
    line-height: 1.5;
    min-height: 100svh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* paragraph & text */

p {
    max-width: 75ch;
    text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

i,
em {
    font-style: italic;
}

/* media */

img,
picture,
svg,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* forms */

/*fieldset, form, label, legend, input, button, textarea, select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}*/

/*[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}*/

/* special cases */

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}
